{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>asldev blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div class="nav-left">
            <h1><a href="{% url 'home' %}">asldev blog</a></h1>
        </div>
        <div class="nav-right">
            <a href="{% url 'post_new' %}">Create Post</a>
        </div>
    </header>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign up</a>
    {% endif %}
    <div>
        {% block content %}
        {% endblock content %}

    </div>
</body>
</html>